= form_for @food_inventory do |form|
  .tablewrapper
    %table
      %thead
        %tr
          %th Item Name
          %th In Inventory
          %th Base Unit
          %th New Amount
          %th
          %th Remove

      %tbody
        -@food_inventory.food_inventory_food_items.each do |food_inventory_food_item|
          %tr
            %td= food_inventory_food_item.item
            %td= food_inventory_food_item.in_inventory
            %td= food_inventory_food_item.item.base_unit
            - form.fields_for :food_inventory_food_items, food_inventory_food_item do |builder|
              %td
                = builder.hidden_field :item_id
                = builder.text_field :quantity
              -if food_inventory_food_item.errors.empty?
                %td
              -else
                %td= food_inventory_food_item.errors[:quantity]
              %td= builder.check_box :_destroy

  = form.submit "Save"
