<tr labor_item_id="<%= labor_item.id %>" >
  <td><%= labor_item.team_name %></td>
  <td><%= labor_item.team_size %></td>
  <td><%= labor_item.days_worked %></td>
  <td><%= labor_item.admin_user.name %></td>
  <td><%= labor_item.actual_days %></td>
  <td><%= link_to "remove", labor_item, :method=>:delete, #:remote => true,
                  :confirm => "Are you sure you want to remove these volunteer days?", :title => "Confirm Delete" %></td>
</tr>
