<%= render 'layouts/myssp_header' %>
<div id="active_admin_content">
  <div id="main_content_wrapper">
     <div id="group_content">
        <%= render 'layouts/myssp_group_data' %>
        <div class="panel">
                    <h3>Roster Status:  <%= @screen_info[:roster_status] %>   |   Left to Enter: <%= @screen_info[:left_to_enter] %> </h3>
                    <div class="panel_contents">
                      <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                           <tr>
                             <th>Type</th>
                             <th>Gender</th>
                             <th>First</th>
                             <th>Last</th>
                             <th>Address 1</th>
                             <th>Address 2</th>
                             <th>City</th>
                             <th>State</th>
                             <th>Zip</th>
                             <th>Email</th>
                             <th>Grade</th>
                             <th>Size</th>
                           </tr>
                         </thead>
                         <tbody><% @screen_info[:items].each do |r| %>
                           <tr>
                             <td><%= if r.youth then 'Youth' else 'Counselor' end %></td>
                             <td><%= if r.male then 'Male' else 'Female' end %></td>
                             <td><%= r.first_name%></td>
                             <td><%= r.last_name %></td>
                             <td><%= r.address1 %></td>
                             <td><%= r.address2 %></td>
                             <td><%= r.city%></td>
                             <td><%= r.state %></td>
                             <td><%= r.zip %></td>
                             <td><%= r.email %></td>
                             <td><%= r.grade_in_fall%></td>
                             <td><%= r.shirt_size %></td>
                             <td><%= link_to "Change", edit_roster_item_path(r.id)%>
                                 <%= link_to "Delete", delete_roster_item_path(r.id), :group_id => @screen_info[:scheduled_group].id,
                                    :action => :delete, :confirm => "Are you sure you want to delete this?" %></td>
                           </tr>
                         <% end %>
                         </tbody>

                      </table>
                      <div class="action_items">
                         <div id = "column1"><span class="action_item"><%= link_to "Add New Participant",
                            new_roster_item_path(:roster_id => @screen_info[:rosters].id,
                            :group_id => @screen_info[:scheduled_group].id)%></span></div>
                         <div id = "column2"></div> <span class="action_item"><%= link_to "Return to MySSP Page",
                            myssp_path(:id => @screen_info[:scheduled_group].liaison_id) %></span></div>
                      </div>

                    </div>

                  </div>
                </div>
                </div>
              </div>
