<div id="title_bar">
   <div id="titlebar_left">
     <span class="breadcrumb">
       <a><%= @liaison_name %></a>
       <span class="breadcrumb_sep">/</span>
       <%= link_to "Your Groups",  myssp_path(:id => @scheduled_group.liaison_id)%>
     </span>
     <h2 id="page_title"><%= @title %></h2>
   </div>
</div>
<%= form_for(@scheduled_group) do |r| %>
    <div id="active_admin_content"  class="with_sidebar">
        <div id="main_content_wrapper">
            <div id="main_content">
                <div class="panel">
                    <div class="panel_contents">
                        <div class="attributes_table liaison" id="attributes_table_liaison_3">
			                <%= render 'layouts/scheduled_group_table' %>
                            <h3>You have successfully completed this group change.</h3>
                            <h3>Click to send a confirming email: <%= mail_to Liaison.find(@scheduled_group.liaison_id).email1,
                                                        Liaison.find(@scheduled_group.liaison_id).name,
                                                        :subject => "SSP Group Change Confirmation",
                                                        :body => @email_body %></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
