<div id="title_bar">
  <div id="titlebar_left">
     <span class="breadcrumb">
       <a><%= @liaison.name %></a>
       <span class="breadcrumb_sep">/</span>
       <%= link_to "Your Groups",  myssp_path(:id => @scheduled_group.liaison_id)%>
     </span>
     <h2 id="page_title"><%= @title %></h2>
  </div>
</div>
<%= form_for(@scheduled_group) do |r| %>
  <div id="active_admin_content"  class="with_sidebar">
     <div id="main_content_wrapper">
        <div id="main_content">
           <div class="panel">
              <div class="panel_contents">
                 <div class="attributes_table liaison" id="attributes_table_liaison_3">
                 <%= render 'layouts/scheduled_group_table' %>
                    <table border="0" cellspacing="0" cellpadding="0" >
                        <h3>Make changes to scheduled group information below.</h3>
                            <tr>
                                <td><div class="youth-label"><%= r.label "New Youth" %></div></td>
                                <td><div class="youth-label"><%= r.number_field :current_youth, :as => :integer %></div></td>
                            </tr>
                        <tr>
                            <td><%= r.label "New Counselors" %></td>
                            <td><%= r.number_field :current_counselors, :as => :integer %></td>
                        </tr>
                        <% if can? :move, r %>
                          <tr>
                            <td><%= r.label "New Session" %></td>
                            <td><%= r.select :session_id, @sessions %></td>
                          </tr>
                        <% end %>
                    </table>
                    <div id = "group_change_button" class="actions">
                        <%= submit_tag 'Submit Changes', { :disabled => true, :confirm => "Are you sure you want to make these changes?",
                                                           :class => "group-change-button", :id => @scheduled_group.id } %>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
  </div>
<% end %>