<%= render 'layouts/myssp_header' %>
<div id="active_admin_content">
  <div id="main_content_wrapper">
     <div id="main_content">
        <%= render 'layouts/myssp_group_data' %>
        <div class="panel">
           <h3>Invoice Information</h3>
              <div class="panel_contents">
                 <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                       <tr>
                          <td>Balance Due:</td><td class='table_data'><%= @screen_info[:invoice_data][:current_balance] %></td>
                       </tr>
                          <td>Payments</td>
                          <th>Date</th><th>Method</th><th>Amount</th><th>Notes</th>
                          <% @screen_info[:invoice_data][:payments].each do |p| %>
                             <tr>
                               <td></td>
                               <td><%= p.payment_date.strftime("%m/%d/%y") %></td>
                               <td><%= p.payment_method %></td>
                               <td><%= p.payment_amount %></td>
                               <td><%= p.payment_notes %></td>
                             </tr>
                          <% end %>
                          <tr></tr>
                          <td>Schedule Changes</td>
                          <th>Date</th><th>Youth Change</th><th>Counselor Change</th><th>Total Change</th><th>Changed By</th>
                          <% @screen_info[:invoice_data][:changes].each do |c| %>
                             <tr>
                               <td></td>
                               <td><%= c.created_at.strftime("%m/%d/%y") %></td>
                               <td><%= c.old_youth - c.new_youth %></td>
                               <td><%= c.old_counselors - c.new_counselors %></td>
                               <td><%= c.old_total - c.new_total %></td>
                               <td><%= c.updated_by %></td>
                             </tr>
                          <% end %>
                          <tr></tr>
                          <td>Adjustments</td>
                          <th>Date</th><th>Amount</th><th>Reason Code</th><th>Notes</th><th>Changed By</th>
                          <% @screen_info[:invoice_data][:adjustments].each do |a| %>
                             <tr>
                               <td></td>
                               <td><%= a.created_at.strftime("%m/%d/%y") %></td>
                               <td><%= a.amount %></td>
                               <td><%= a.reason_code %></td>
                               <td><%= a.note %></td>
                               <td><%= a.updated_by %></td>
                             </tr>
                          <% end %>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>
 </div>

