<div id="title_bar">
  <div id="titlebar_left">
     <span class="breadcrumb">
       <a><%= @invoice_info[:liaison_name] %></a>
       <span class="breadcrumb_sep">/</span>
       <%= link_to "Your Groups",  myssp_path(:id => @invoice_info[:scheduled_group].liaison_id)%>
     </span>
     <h2 id="page_title"><%= @title %></h2>
  </div>
</div>
<div id="active_admin_content">
  <div id="main_content_wrapper">
     <div id="main_content">
        <div class="panel">
           <h3>Current Information</h3>
              <div class="panel_contents">
                 <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                       <tr>
                          <td>Youth:</td><td class='table_data'><%= @invoice_info[:scheduled_group].current_youth %></td>
                          <td>Counselors:</td><td class='table_data'><%= @invoice_info[:scheduled_group].current_counselors %></td>
                          <td>Total:</td><td class='table_data'><%= @invoice_info[:scheduled_group].current_total %></td>
                          <td>Type:</td><td class='table_data'><%= @invoice_info[:session_type] %></td>
                       </tr>
                       <tr>
                          <td>Site:</td><td class='table_data'><%= @invoice_info[:site_name] %></td>
                          <td>Week:</td><td class='table_data'><%= @invoice_info[:period_name] %></td>
                          <td>Start Date:</td><td class='table_data'><%= @invoice_info[:start_date].strftime("%m/%d/%y") %></td>
                          <td>End Date:</td><td class='table_data'><%= @invoice_info[:end_date].strftime("%m/%d/%y") %></td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
        <div class="panel">
           <h3>Invoice Information</h3>
              <div class="panel_contents">
                 <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                       <tr>
                          <td>Balance Due:</td><td class='table_data'><%= @invoice_info[:invoice_data][:current_balance] %></td>
                       </tr>
                          <td>Payments</td>
                          <th>Date</th><th>Method</th><th>Amount</th><th>Notes</th>
                          <% @invoice_info[:invoice_data][:payments].each do |p| %>
                             <tr>
                               <td><%= p.created_at.strftime("%m/%d/%y") %></td>
                               <td><%= p.payment_method %></td>
                               <td><%= p.payment_amount %></td>
                               <td><%= p.payment_notes %></td>
                             </tr>
                          <% end %>
                          <tr></tr>
                          <td>Schedule Changes</td>
                          <th>Date</th><th>Youth Change</th><th>Counselor Change</th><th>Total Change</th><th>Changed By</th>
                          <% @invoice_info[:invoice_data][:changes].each do |c| %>
                             <tr>
                               <td><%= c.created_at.strftime("%m/%d/%y") %></td>
                               <td><%= c.old_youth - c.new_youth %></td>
                               <td><%= c.old_counselors - c.new_counselors %></td>
                               <td><%= c.old_total - c.new_total %></td>
                               <td><%= c.updated_by %></td>
                             </tr>
                          <% end %>
                          <tr></tr>
                          <td>Adjustments</td>
                          <th>Date</th><th>Amount</th><th>Reason Code</th><th>Notes</th><th>Changed By</th>
                          <% @invoice_info[:invoice_data][:changes].each do |a| %>
                             <tr>
                               <td><%= a.created_at.strftime("%m/%d/%y") %></td>
                               <td><%= a.amount %></td>
                               <td><%= a.reason_code %></td>
                               <td><%= a.note %></td>
                               <td><%= a.updated_by %></td>
                             </tr>
                          <% end %>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>

