<!--<div id = "title_bar">
      <div id="titlebar_left">
          <span class="breadcrumb">
            <a href="/">Group Manager</a>
            <span class="breadcrumb_sep">/</span>
          </span>
          <h2 id="page_title">Group Registration Wizard</h2>
      </div>
</div>-->
<%= form_for(@registration) do |r| %>
      <%= render 'shared/error_messages_registration' %>
         <div id="active_admin_content"  class="with_sidebar">
            <div id="main_content_wrapper">
              <div id="main_content">
                  <div class="panel">
                  <div class="panel_contents">
                    <div class="attributes_table liaison" id="attributes_table_liaison_3">
                        <table border="0" cellspacing="0" cellpadding="0" >
                            <h4>Step 2: Make Your Requests</h4>
                            <tr>
                                <td>Group Name</td>
                                <td><%= @registration.name %></td>
                            </tr>
                            <tr>
                                <td>Church Name</td>
                                <td><%= @church.name %></td>
                            </tr>
                            <tr>
                                <td>Liaison Name</td>
                                <td><%= @liaison.name %></td>
                            </tr>
                            <tr>
                                <td>Group Type</td>
                                <td><%= @group_type.name %></td>
                            </tr>
                            <tr>
                                <td>Youth</td>
                                <td><%= @registration.requested_youth %></td>
                            </tr>
                            <tr>
                                <td>Counselors</td>
                                <td><%= @registration.requested_counselors %></td>
                            </tr>
                           <tr>
                                <td>Total</td>
                                <td><%= (@registration.requested_youth + @registration.requested_counselors) %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Choice #1" %></td>
                                <td><%= r.select :request1, @sessions %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #2" %></td>
                                <td><%= r.select :request2, @sessions %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #3" %></td>
                                <td><%= r.select :request3, @sessions %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #4" %></td>
                                <td><%= r.select :request4, @sessions %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #5" %></td>
                                <td><%= r.select :request5, @sessions %></td>
                            </tr>
                             <input type = "hidden" name="registration[registration_step]" value='Step 2'>
                            </table>
                            <div class="actions">
                                <%= r.submit "Continue" %>
                                <%= cancel_link %>
                            </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
<% end %>

