<%= form_for(@registration) do |r| %>
      <%= render 'shared/error_messages_registration' %>
         <div id="active_admin_content">
            <div id="main_content_wrapper">
              <div id="main_content">
                  <div class="panel">
                  <div class="panel_contents">
                    <div class="attributes_table liaison" id="attributes_table_liaison_3">
                        <table border="0" cellspacing="0" cellpadding="0" >
                            <h4>Step 3: Verify and Accept Payment</h4>
                            <tr>
                                <td>Group Name</td>
                                <td><%= @registration.name %></td>
                            </tr>
                            <tr>
                                <td>Youth</td>
                                <td><%= @registration.requested_youth %></td>
                            </tr>
                            <tr>
                                <td>Counselors</td>
                                <td><%= @registration.requested_counselors %></td>
                            </tr>
                           <tr>
                                <td>Total</td>
                                <td><%= @registration.requested_total %></td>
                            </tr>
                          <tr>
                                <td>Amount Due</td>
                                <td><%= number_to_currency(@registration.amount_due) %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Select payment type" %></td>
                                <td><%= r.select(:payment_method, options_for_select(@payment_types)) %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Payment Notes" %></td>
                                <td><%= r.text_field :payment_notes %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Amount Received (please omit dollar sign)" %></td>
                                <td><%= r.number_field :amount_paid, :as => :number %></td>
                            </tr>
                            <input type = "hidden" name="registration[registration_step]" value='Step 3' />
                            </table>
                            <div class="actions">
                                <%= r.submit "Continue" %>
                                <%= cancel_link %>
                            </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
<% end %>

