<div id="title_bar">
    <div id="titlebar_left">
        <span class="breadcrumb">
            <a href="/admin">Admin</a>
            <span class="breadcrumb_sep">/</span>
        </span>
        <h2 id="page_title">Unscheduled Groups Requesting <%= @session_week %> <%= @session_site %></h2>
    </div>
</div>

    <div id="active_admin_content"  class="with_sidebar">
        <div id="main_content_wrapper">
            <div id="main_content">
               <div class="panel">
                 <div class="panel_contents">
                   <div class="attributes_table choices" id="attributes_table_choices">
                      <table border="0" cellspacing="0" cellpadding="0" id="requests" class="index_table">
                        <h3>Unscheduled Groups Requesting <%= @session_week %> <%= @session_site %></h3>
                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Liaison</th>
                                            <th>Church</th>
                                            <th>Requested Youth</th>
                                            <th>Requested Adults</th>
                                            <th>Requested Total</th>
                                            <th></th>
                                        </tr>
                        </thead>
                        <tbody>
                            <% @requests.each do |r| %>
                                        <tr>
                                            <td><%= r.name %></td>
                                            <td><%= Liaison.find(r.liaison_id).name %></td>
                                            <td><%= Church.find(r.church_id).name %></td>
                                            <td><%= r.requested_youth %></td>
                                            <td><%= r.requested_counselors %></td>
                                            <td><%= r.requested_total %></td>
                                            <td><%= link_to "Schedule this group", schedule_request_path(:id => r.id) %></td>
                                        </tr>
                                    <% end %>
                        </tbody>
                      </table>
                   </div>
                 </div>
               </div>
            </div>
        </div>
    </div>
