<%= form_for(@registration) do |r| %>
      <%= render 'shared/error_messages_registration' %>
         <div id="active_admin_content"  class="with_sidebar">
            <div id="main_content_wrapper">
              <div id="main_content">
                  <div class="panel">
                  <div class="panel_contents">
                    <div class="attributes_table liaison" id="attributes_table_liaison_3">
                        <table border="0" cellspacing="0" cellpadding="0" >
                            <h4>This wizard will allow you to register your group and accept your deposit payment.</h4>
                            <h4>Step 1: Verify Information and Begin Registration</h4>
                            <tr>
                                <td><%= r.label "Select liaison" %></td>
                                <td><%= r.select :liaison_id, options_for_select(@liaisons) %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Select group type" %></td>
                                <td><%= r.select :group_type_id, options_for_select(@group_types), :default => 2 %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Counselors" %></td>
                                <td><%= r.number_field :requested_counselors %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Youth" %></td>
                                <td><%= r.number_field :requested_youth %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Group Name" %></td>
                                <td><%= r.text_field :name, %></td>
                                <td>Please enter a name to use to identify this group</td>
                            </tr>
                            <input type = "hidden" name="registration[registration_step]" value='Step 1' />
                            </table>
                            <div class="actions">
                                <%= r.submit "Continue" %>
                            </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
<% end %>