<div id="title_bar">
        <div id="titlebar_left">
          <span class="breadcrumb">
            <a href="/admin">Admin</a>
            <span class="breadcrumb_sep">/</span>
          </span>
          <h2 id="page_title">Schedule a Group</h2>
        </div>
</div>
<%= form_for(@registration) do |r| %>
     <div id="active_admin_content" >
        <div id="main_content_wrapper">
          <div id="main_content">
              <div class="panel">
              <div class="panel_contents">
                <div class="attributes_table liaison" id="attributes_table_liaison_3">
                  <table border="0" cellspacing="0" cellpadding="0" >
                    <h3>Group Details </h3>
                    <tr>
                      <th>Group name</th>
                      <td><%= @registration.name %></td>
                    </tr>
                    <tr>
                      <th>Church name</th>
                      <td><%= @church.name %></td>
                    </tr>
                    <tr>
                      <th>Liaison name</th>
                      <td><%= @liaison.name %></td>
                    </tr>
                    <tr>
                      <th>Youth</th>
                      <td><%= @registration.requested_youth %></td>
                    </tr>
                    <tr>
                      <th>Counselors</th>
                      <td><%= @registration.requested_counselors %></td>
                    </tr>
                    <tr>
                      <th>Total</th>
                      <td><%= @registration.requested_total %></td>
                    </tr>
                  </table>

                </div>
                </div>
              </div>
                <div class="panel">
                 <div class="panel_contents">
                   <div class="attributes_table choices" id="attributes_table_choices">
                      <table border="0" cellspacing="0" cellpadding="0" id="requests" class="index_table">
                        <h3>Choices: Select one of the following... </h3>
                        <thead>
                                        <tr>
                                            <th>Choice</th>
                                            <th>Session</th>
                                            <th>Site</th>
                                            <th>Week</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Session Enrollment</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                         <tbody>
                            <% i = 0 %>
                            <% @requests.each do |choice| %>
                                        <tr>
                                            <% i = i + 1 %>
                                            <td><%= i %></td>
                                            <td><%= Session.find(choice).name %></td>
                                            <td><%= Site.find(Session.find(choice).site_id).name %></td>
                                            <td><%= Period.find(Session.find(choice).period_id).name %></td>
                                            <td><%= Period.find(Session.find(choice).period_id).start_date.strftime("%m/%d/%Y")%></td>
                                            <td><%= Period.find(Session.find(choice).period_id).end_date.strftime("%m/%d/%Y") %></td>
                                            <td><%= ScheduledGroup.sum(:current_total, :conditions => ['session_id = ?', choice]) %></td>
                                            <td><%= link_to "Schedule this choice",
                                               scheduled_groups_schedule_path(:priority => i, :id => choice, :reg => @registration.id) %></td>
                                        </tr>
                                    <% end %>
                          </tbody>
                      </table>
                      <h3>Or pick from the list below: </h3><br>
                      <div class="attributes_table liaison" id="attributes_table_liaison_4">
                         <table border="0" cellspacing="0" cellpadding="0" >
                            <tr>
                                <td><%= r.label "Select Alternative Session" %></td>
                                <td id = "session_select"><%= select_tag("session", options_for_select(@alt_sessions),
                                                      :onchange => 'get_session_id()' ) %></td>
                                <td id="alt_schedule_link">
                                    <%= link_to "Schedule this choice",
                                        scheduled_groups_schedule_path(:priority => 10, :id => "alt_text",
                                                                  :reg => @registration.id), :hidden => true %></td>
                            </tr>
                         </table>
                        </div>
                   </div>
              </div>
                </div>
              </div>
          </div>
     </div>
    <% end %>
<script>
  function get_session_id() {
      var e = document.getElementById("session");
      var id = e.options[e.selectedIndex].value;
      var $old_link = document.getElementById("alt_schedule_link").innerHTML;
      var $new_link = $old_link.replace(/alt_text/, id);
      var $new_link = $new_link.replace(/hidden="hidden"/, '');
      document.getElementById("alt_schedule_link").innerHTML = $new_link;
  }
</script>

