<div id="title_bar">
        <div id="titlebar_left">
          <span class="breadcrumb">
            <a href="/registration">Manage Groups</a>
            <span class="breadcrumb_sep">/</span>
          </span>
          <%  if params[:reg_or_sched] == 'registered' then @table_name = "Unscheduled" else @table_name = "Scheduled"  end%>
          <h2 id="page_title"><%= params[:type].gsub!('_', ' ').capitalize + ': ' + @table_name %></h2>
        </div>
</div>
     <div id="active_admin_content"  class="with_sidebar">
        <div id="main_content_wrapper">
            <div id="main_content">
            <div class="panel">
                <div class="panel_contents">
                  <span class="scopes">
                    <span class = scope><%= link_to "Domestic Summer Scheduled",
                              registration_show_schedule_path(:reg_or_sched => 'scheduled', :type => 'summer_domestic') %>
                    </span>
                    <span class = "scope"><%= link_to "Domestic Summer Unscheduled",
                              registration_show_schedule_path(:reg_or_sched => 'registered', :type => 'summer_domestic') %>
                    </span>
                   </span>
                </div>
            </div>
            <div class="panel">
              <div class = "panel contents">
                <div class="attributes_table liaison" id="attributes_table_liaison_3">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <td></td>
                            <% for i in 0..@schedule[:period_count] do %>
                                <td><%= @schedule[:period_names][i]%></td>
                            <% end %>
                        </tr>
                        </thead>
                        <tbody>
                        <% s_count = @schedule[:site_count].to_s.to_i %>
                        <% for i in 0..s_count - 1 do %>
                        <tr>
                            <td><%= @schedule[:site_names][i] %></td>
                            <% count = @schedule[:period_count].to_s.to_i %>
                            <% for j in 0..count - 1 do %>
                                <% if params[:reg_or_sched] == "registered" then %>
                                    <% if @schedule[:registration_matrix][i][j] > 0 then %>
                                          <td><%= link_to (@schedule[:registration_matrix][i][j]).to_s,
                                                reg_program_session_path(:id => @schedule[:session_id_matrix][i][j]) %></td>
                                          <% else %>
                                            <td><%= @schedule[:registration_matrix][i][j].to_s %></td>
                                    <% end %>
                                <% else %>
                                     <% if @schedule[:scheduled_matrix][i][j] > 0 then %>
                                          <td><%= link_to (@schedule[:scheduled_matrix][i][j]).to_s,
                                                sched_program_session_path(:id => @schedule[:session_id_matrix][i][j])  %></td>
                                          <% else %>
                                            <td><%= @schedule[:scheduled_matrix][i][j].to_s %></td>
                                     <% end %>
                                <% end %>
                            <% end %>
                            <% if params[:reg_or_sched] == "registered" then %>
                                    <td><%= (@schedule[:registration_matrix][i][count]).to_s %></td>
                            <% else %>
                                    <td><%= (@schedule[:scheduled_matrix][i][count]).to_s %></td>
                            <% end %>
                        </tr>
                        <% end %>
                        <tr>
                             <% count = @schedule[:period_count].to_s.to_i %>
                             <td><%= @schedule[:site_names][s_count] %></td>
                             <% for j in 0..count do %>
                                <% if params[:reg_or_sched] == "registered" then %>
                                    <td><%= (@schedule[:registration_matrix][@schedule[:site_count]][j]).to_s %></td>
                                <% else %>
                                    <td><%= (@schedule[:scheduled_matrix][@schedule[:site_count]][j]).to_s %></td>
                                <% end %>
                            <% end %>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
              </div>
            </div>
        </div>
     </div>


