<h1>Group Registration Wizard</h1>

<%= form_for(@registration) do |r| %>
  <%= render 'shared/error_messages_registration' %>
    <h4>Step 3: Verify and Accept Payment</h4>

    <p>Group name: <%= @registration.name %></p><br/>
    <p>Group size: <%= @registration.requested_counselors %> counselors and <%= @registration.requested_youth %> youth.<p/>
    <p>Amount due: <%= @registration.amount_due %><p/>
    <div>
      Select payment type:
      <%= r.select(:payment_method, options_for_select(@payment_types)) %><br/><br/>
    </div>
    <div class="field">
      <%= r.label "Payment Notes" %>
      <%= r.text_field :payment_notes %>
    </div>
    <div class="field">
      <%= r.label "Amount Received" %>
      <%= r.number_field :amount_paid %>
    </div>
<b/>
    <input type = "hidden" name="registration[registration_step]" value='Step 3' />
    <div class="actions">
      <%= submit_tag 'Submit', :name => 'finalize' %>
      <%= submit_tag 'Cancel', :name => 'cancel' %>
    </div>

<% end %>