 <%= form_for(@screen_info[:liaison]) do |r| %>
                    <h3>Church Details</h3>

                        <div class="attributes_table church" id="church_info_table">
                            <table id = "church_info" border="0" cellspacing="0" cellpadding="0" >
                                <tr><th>Church Name</th><td><%= link_to @screen_info[:church_info].name,
                                                 edit_church_path(:id => @screen_info[:liaison].church_id) %></td></tr>
                                <tr><th>Address</th><td><%= @screen_info[:church_info].address1 %></td></tr>
                                <tr><th>City</th><td><%= @screen_info[:church_info].city %></td></tr>
                                <tr><th>State</th><td><%= @screen_info[:church_info].state %></td></tr>
                                <tr><th>Zip</th><td><%= @screen_info[:church_info].zip %></td></tr>
                                <tr><th>Church Phone</th><td><%= @screen_info[:church_info].office_phone %></td></tr>
                            </table>
                        </div>
                    </div>
                 </div>

<!--Original Request Section -->
            <div class="panel">
                <h3>Original Request Information</h3>
                <div class="panel_contents">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Youth</th>
                                <th>Counselors</th>
                                <th>Total</th>
                                <th>Date submitted</th>
                            </tr>
                        </thead>
                        <tbody><% @screen_info[:registration_info].each do |g| %>
                            <tr>
                                <td><%= g.name %></td>
                                <td><%= g.requested_youth %></td>
                                <td><%= g.requested_counselors %></td>
                                <td><%= g.requested_total %></td>
                                <td><%= g.created_at.strftime("%m/%d/%y") %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
<!--Current Schedule Section -->
            <div class="panel">
                <h3>Current Schedule Group Information</h3>
                <div class="panel_contents">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Youth</th>
                                <th>Couns</th>
                                <th>Total</th>
                                <th>Site</th>
                                <th>Week</th>
                                <th>Participant Info</th>
                                <th>Balance</th>
                                <th>Payment</th>
                                <% if can? :create, Adjustment %><th>Adjust</th><% end %>
                            </tr>
                        </thead><% i = 0 %>
                        <tbody><% @screen_info[:group_info].each do |g| %>
                            <tr>
                                <td><%= link_to g.name, edit_scheduled_group_path(g.id),
                                    :title => 'Click to make changes to this group'%></td>
                                <td><%= g.current_youth %></td>
                                <td><%= g.current_counselors %></td>
                                <td><%= g.current_total %></td>
                                <td><% s = Session.find(g.session_id)%><%= link_to Site.find(s.site_id).name, sched_program_session_path(g.id),
                                :title => "Click to see what other groups are coming to this site at this week." %></td>
                                <td><%= link_to Period.find(s.period_id).name, "#",
                                                :title => "Starts on #{Period.find(s.period_id).start_date.strftime("%m/%d/%y")
                                                } and ends on #{Period.find(s.period_id).end_date.strftime("%m/%d/%y")}" %></td>
                                <td><%= link_to "Update Roster", show_roster_path(g.roster_id),
                                                :title => "Click to update the participant rosters." %></td>
                                <td><%= link_to number_to_currency(@screen_info[:invoice_info][i][:current_balance]),
                                                invoice_path(g.id), :title => "Click to review and print your current invoice." %></td>
                                <td><%= link_to "Make Payment", record_payment_path(:group_id => g.id),
                                                :title => "Click to record payment. Eventually to be replaced by payment gateway." %></td>
                                <% if can? :create, Adjustment %>
                                    <td><%= link_to "Adjustment", make_adjustment_path(g.id),
                                              :title => "Click to make an adjustment (new church discount, scholarship, etc)." %></td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <% i += 1 %>
                            </tr>
                        <% end %></tbody>
                    </table>
                </div>
            </div>
<!--Downloads Section -->
            <div class="panel">
                <h3>Download Documents</h3>
                <div class="panel_contents">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>Document name - click to download</th>
                            <th>Description</th>
                            <th>Document Type</th>
                        </tr>
                        <tbody>
                            <% @screen_info[:documents].each do |d| %>
                                <td><%= link_to d.name, d.url%></td>
                                <td><%= d.description %></td>
                                <td><%= d.doc_type %></td>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
<!--Checklist Section -->
              <% if @screen_info[:group_info].size > 0 %>
              <div class="panel">
                <h3>Checklist</h3>
                <div class="panel_contents">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <% @screen_info[:group_info].each do |g| %>
                                    <th><%= link_to g.name, admin_scheduled_group_path(g.id) %></th>
                                <% end %>
                                <th>Due Date</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for i in 0..@screen_info[:checklist][0].size - 1 %>
                                <tr>
                                    <td><%= @screen_info[:checklist][0][i][:name] %></td>
                                    <% for j in 0..@screen_info[:group_info].size - 1 %>
                                        <td><%= "Status: #{@screen_info[:checklist][j][i][:status]}" %></td>
                                    <% end %>
                                    <td><%= @screen_info[:checklist][0][i][:due_date].strftime("%m/%d/%y") %></td>
                                    <td><%= @screen_info[:checklist][0][i][:notes] %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% end %>
        </div>
    </div>
<!--Liaison Sidebar Section -->
    <div id="sidebar">
        <div class="sidebar_section panel" id="liaison information_sidebar_section">
            <h3>Liaison Information</h3>
                <div class="panel_contents">
                    <div class="attributes_table liaison" id="attributes_table_liaison">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>Name</th>
                                <td><%= @screen_info[:liaison].name %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "Edit Liaison Information",
                                        edit_admin_liaison_path(:id => @screen_info[:liaison].id) %></td>
                                <% if signed_in? && current_admin_user.admin? %>
                                  <td><%= mail_to @screen_info[:liaison].email1, "Email #{@screen_info[:liaison].first_name}",
                                                        :subject => "SSP Information" %></td>
                                <% else %>
                                  <td><%= mail_to 'admin@sierraserviceproject.org', "Email SSP",
                                                        :subject => "SSP Question" %></td>
                                <% end %>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
<!--Notes and Reminders Sidebar Section -->
        <div class="sidebar_section panel" id="notes information_sidebar_section">
            <h3>Notes and Reminders</h3>
                <div class="panel_contents">
                    <div class="attributes_table liaison" id="attributes_table_notes">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <% @screen_info[:notes_and_reminders].each do |n| %>
                                    <tr class="reminder_line_one"><td><%= n.first_line %></td></tr>
                                    <tr class="reminder_line_two"><td><%= n.second_line %></td></tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 <% end %>

