<% @program.budget_items.each do |item| %>
<tr>
  <td><%= @program.budget_item_name(item.budget_item_type_id) %></td>
  <td><%= '%.2f' % @program.budget_item_budgeted(item.budget_item_type_id) %></td>
  <td><%= '%.2f' % @program.budget_item_spent(item.budget_item_type_id) %></td>
  <td><%= '%.2f' % @program.budget_item_spent_with_tax(item.budget_item_type_id) %></td>
  <td><%= '%.2f' % @program.budget_item_remaining(item.budget_item_type_id) %></td>
</tr>
<% end %>
<tfoot>
<tr>
  <td>Totals</td>
  <td><%= '%.2f' % @program.budget_item_budgeted_total %></td>
  <td><%= '%.2f' % @program.budget_item_spent_total %></td>
  <td><%= '%.2f' % @program.budget_item_spent_with_tax_total %></td>
  <td><%= '%.2f' % @program.budget_item_remaining_total %></td>
</tr>

</tfoot>