<tr>
  <td></td>
  <td><%= @program.start_date.strftime("%a %b #{@program.start_date.day.ordinalize}") %></td>
  <td><%= @program.end_date.strftime("%a %b #{@program.end_date.day.ordinalize}") %></td>
  <td><%= pluralize(@program.sessions.count, "Sessions") %></td>
  <td><%= @program.adults %></td>
  <td><%= @program.youth %></td>
  <td><%= @program.total %></td>
</tr>