.span-12.properties
  %dl
    %dt Site
    %dd= link_to @program.site.name, @program.site
    %dt Program Type
    %dd= @program.program_type.name
    %dt Start Date
    %dd= @program.start_date

.span-12.last.properties
  %dl.properties
    %dt Food Budget
    %dd= number_to_currency(@program.food_budget, :unit => '$')
    %dt Food Budget Used
    %dd= number_to_currency(@program.food_budget_spent, :unit => '$')
    %dt Food Budget Remaining
    %dd= number_to_currency(@program.food_budget_remaining, :unit => '$')

.span-24.prepend-top
  %h3 Sessions
  .tablewrapper
    %table
      %thead
        %tr
          %th
          %th Start Date
          %th End Date
          %th Type
          %th Scheduled Adults
          %th Scheduled Youth
          %th Total
          %th
      = render @program.sessions

.span-24.prepend-top
  %h3 Staff
  .tablewrapper
    %table
      %thead
        %tr
          %th Staff Name
          %th Job
          %th
      = render @program.program_users.order("job_id")

.span-24.prepend-top
  %h3 Purchases
  .tablewrapper
    = render 'purchases/table', :purchases => @program.purchases

