.span-8.properties
  %dl
    %dt Site
    %dd= @program.site.name

.span-8.properties
  %dl.properties
    %dt Program Type
    %dd= @program.program_type.name

.span-8.last.properties
  %dl.properties
    %dt Start Date
    %dd= @program.start_date

.span-24.prepend-top
  %h3 Budget
  .tablewrapper
    %table
      %thead
        %tr
          %th Category
          %th Budgeted
          %th Spent to Date
          %th Spent to Date with Tax
          %th Amount Remaining
      = render 'budget_items'

.span-24.prepend-top
  %h3 Food Program Snapshot
  .tablewrapper
    %table
      %thead
        %tr
          %th Session
          %th Start Date
          %th Session Participants
          %th Cumulative Participants
          %th Session Purchases
          %th Cumulative Purchases
          %th Session Consumed
          %th Cumulative Consumed
          %th Session Consumed Cost/Participant
          %th Program Consumed Cost/Participant
      %tbody
        = render 'site_reports/food_budget_items'

.span-24.prepend-top
  %h3 Purchases
  -# Need to add scope button here to limit list to the most recent n purchases
  -#= link_to 'Most recent 20', program_path(@program.id, :scope => '20')
  -#= link_to 'All', '/'

  .tablewrapper
    = render 'purchases/table', :purchases => @program.purchases(@scope)

.span-24.prepend-top
  %h3 Projects
  .tablewrapper
    %table
      %thead
        %tr
          %th Project Name
          %th Type
          %th Estimated Cost
          %th Actual Cost
          %th Amount Remaining
          %th Estimated Days
          %th Actual Days
          %th Remaining Days
      = render @program.projects

.span-24.prepend-top
  %h3 Sessions
  .tablewrapper
    %table
      %thead
        %tr
          %th
          %th Start Date
          %th End Date
          %th Type
          %th Scheduled Adults
          %th Scheduled Youth
          %th Total
      = render @program.sessions

.span-24.prepend-top
  %h3 Staff
  .tablewrapper
    %table
      %thead
        %tr
          %th Staff Name
          %th Email
          %th Job

      = render @program.program_users.order("job_id")

