#active_admin_content
  .span-8.properties
    %dl
      %dt Site
      %dd= @program.site.name

      %dt Program Type
      %dd= @program.program_type.name
      %dt Start Date
      %dd= @program.start_date.strftime("%B %d")
  .span-8.properties
    %dl.properties
      -if can? :create, Item
        %dlt= link_to "Create a New Item", new_program_item_path(@program)
      -if can? :create, Project
        %dlt= link_to "Create a New Project", new_program_project_path(@program)
      -if can? :create, Vendor
        %dlt= link_to "Create a New Vendor", new_site_vendor_path(@program.site)

  .span-8.properties
    %dl.properties
      -if can? :create, FoodInventory
        %dlt= link_to "Create a New Food Inventory", new_program_food_inventory_path(@program)
      -if can? :create, FoodInventory
        %dlt= link_to "Run an Inventory Prep Report", inventory_prep_report_path(@program)
      -if can? :create, Purchase
        %dlt= link_to "Create a New Purchase", new_program_purchase_path(@program)

  %br
  %br
  %p
  .span-24.prepend-top
    .group-header
      #budget-toggle
        -#= link_to image_tag('plusminus.png', :id => 'budget-toggle'), "#"
        %h3 Budget
    .group-container
      .index_as_table
        %table
          %thead
            %tr
              %th Category
              %th Budgeted
              %th Spent to Date
              %th Spent to Date with Tax
              %th Amount Remaining
          %tbody#budget-info
            = render 'budget_items'

  .span-24.prepend-top
    .group-header
      #food-snapshot-toggle
        -#= link_to image_tag('plusminus.png', :id => 'food-snapshot-toggle'), "#"
        %h3 Food Program Snapshot
    .group-container
      .index_as_table
        %table
          %thead
            %tr
              %th Session
              %th Start Date
              %th Session Participants
              %th Cumulative Participants
              %th Session Purchases
              %th Cumulative Purchases
              %th Session Consumed
              %th Cumulative Consumed
              %th Session Consumed Cost/Participant
              %th Program Consumed Cost/Participant
          %tbody#food-snapshot-info
            = render 'staff_reports/food_budget_items'

  .span-24.prepend-top
    .group-header
      #purchases-toggle
        -#= link_to image_tag('plusminus.png', :id => 'purchases-toggle'), "#"
        %h3 Purchases

    -# Need to add scope button here to limit list to the most recent n purchases
    -#= link_to 'Most recent 20', program_path(@program.id, :scope => '20')
    -#= link_to 'All', '/'

    #purchases-info
      %h4#purchase_scopes
        = link_to 'Past 7 Days', program_path(@program.id, :scope => 'past7')
        = link_to 'Food Only', program_path(@program.id), :scope => 'food'
        = link_to 'Materials Only'
        = link_to 'No food or materials'
        = link_to 'All'
      .group-container
        = render 'purchases/table', :purchases => @scoped_purchases

  .span-24.prepend-top
    .group-header
      #projects-toggle
        -#= link_to image_tag('plusminus.png', :id => 'projects-toggle'), "#"
        %h3 Projects
    .div#projects-info
      .group-container
        %table
          %thead
            %tr
              %th Project Name
              %th Type
              %th Start Date
              %th Stage
              %th Estimated Cost
              %th Actual Cost
              %th Amount Remaining
              %th Estimated Days
              %th Actual Days
              %th Remaining Days
          = render @program.projects

  .span-24.prepend-top
    .group-header
      #sessions-toggle
        -#= link_to image_tag('plusminus.png', :id => 'sessions-toggle'), "#"
        %h3 Sessions
    .div#sessions-info
      .group-container
        %table
          %thead
            %tr
              %th
              %th Start Date
              %th End Date
              %th Type
              %th Scheduled Adults
              %th Scheduled Youth
              %th Total
          = render @program.sessions

  .span-24.prepend-top
    .group-header
      #staff-toggle
        -#= link_to image_tag('plusminus.png', :id => 'staff-toggle'), "#"
        %h3 Staff
    .div#staff-info
      .group-container
        %table
          %thead
            %tr
              %th Staff Name
              %th Email
              %th Phone
              %th Job
          = render @program.program_users.order("job_id")

