%tr
  %td= food_inventory_food_item.item
  %td= food_inventory_food_item.in_inventory_units
  %td= food_inventory_food_item.quantity
  %td= "%.2f" % food_inventory_food_item.consumed + ' ' + food_inventory_food_item.item.base_unit
  %td= number_to_currency(food_inventory_food_item.average_cost) 
  %td= number_to_currency(food_inventory_food_item.total_consumed_cost)
  %td= link_to "Delete", delete_item_inventory_path(food_inventory_food_item.id), :action => :delete, :confirm => "Are you sure you want to delete this?"

