<table >
  <tr>
    <td class="inventory-table">Last Inventory Date:</td>
    <td id="last-inventory-date"><%= @last_inventory_date %></td>
  </tr>
  <tr>
    <td class="inventory-table">Last Inventory Amount:</td>
    <td id="last-inventory"><%= @last_inventory_amount %></td>
  </tr>
  <tr>
    <td>Base Units:</td>
    <td id="base-unit"><%= @base_unit %></td>
  </tr>
    <td>Last Purchase Date:</td>
    <td id="last-purchase-date"><%= @last_purchase_date %></td>
  </tr>
  </tr>
    <td>Last Purchase Quantity:</td>
    <td id="last-purchase-amount"><%= @last_purchase_amount %></td>
  </tr>
  </tr>
    <td>Last Purchase In Base Units:</td>
    <td id="last-purchase-in-base-units"><%= @last_purchase_in_base_units %></td>
  </tr>
</table>
