#active_admin_content
  .index_content
    .index_as_table
      %table.index_table
        %thead
          %tr
            %th Item Name
            %th In Inventory
            %th New Amount
            %th Avg Cost
            %th Inventory Value
            %th Consumed
            %th Consumed Value
            %th Actions

        %tbody
          -total_cost = 0
          - food_inventory_food_items.each do |food_inventory_food_item|
            %tr
              %td= link_to food_inventory_food_item.item.name, food_inventory_food_item.item
              %td= "%.2f" % food_inventory_food_item.item.in_inventory_for_program_at(food_inventory_food_item.food_inventory.program, food_inventory_food_item.food_inventory.date)
              -#%td= food_inventory_food_item.quantity
              %td= food_inventory_food_item.in_base_units
              %td= number_to_currency(food_inventory_food_item.ave_cost)
              - item_cost = food_inventory_food_item.quantity.unit.scalar * food_inventory_food_item.ave_cost
              - total_cost += item_cost
              %td= number_to_currency(item_cost)
              %td= "%.2f" % (food_inventory_food_item.item.in_inventory_for_program_at(food_inventory_food_item.food_inventory.program, food_inventory_food_item.food_inventory.date) - food_inventory_food_item.quantity.unit.scalar)
              %td= number_to_currency((food_inventory_food_item.item.in_inventory_for_program_at(food_inventory_food_item.food_inventory.program, food_inventory_food_item.food_inventory.date) - food_inventory_food_item.quantity.unit.scalar) * food_inventory_food_item.ave_cost)
              %td= link_to "Delete", delete_item_inventory_path(food_inventory_food_item.id), :action => :delete, :confirm => "Are you sure you want to delete this?"



        %tfoot
          %tr
            %th{:colspan => 2} #{food_inventory_food_items.count} items inventoried
            %th
            %th
            %th= number_to_currency(total_cost)
            %th
            -#%th= number_to_currency (food_inventory_food_items .map &:total_price).sum
            -#%th
      %dlt= link_to "Record an Inventoried Item", new_food_inventory_food_inventory_food_item_path(params[:id])
