<div id='active_admin_content'>
<%= semantic_form_for purchase, :url => purchase.new_record? ? program_purchases_path(purchase.program) : purchase_path(purchase) do |form| %>
  <%= form.inputs do %>
    <%= form.input :vendor, :as => :select, :include_blank => false, :collection => purchase.program.site.vendors %>
    <%= form.input :purchaser, :as => :select, :include_blank => false, :collection => purchase.program.admin_users  %>
    <%= form.input :purchase_type, :as => :select, :include_blank => false, :collection => ['Credit', 'Cash'],
            :hint => "Specify either cash or credit(debit) purchase." %>
    <%= form.input :date %>
    <%= form.input :tax, :input_html => { :size => 15 }, :hint => "Enter the tax, in dollars. Omit dollar sign and commas." %>
    <%= form.input :total, :input_html => { :size => 15 }, :hint => "Enter the total, including tax. Omit dollar sign and commas." %>
  <% end %>
  <% form.buttons do %>
    <% if purchase.new_record? %>
            <%= form.commit_button :label => "Create purchase" %>
    <% else %>
            <%= form.commit_button :label => "Update purchase" %>
    <% end %>
<% end %>
<% end %>
</div>
