<%= render 'layouts/myssp_header' %>
<div id="active_admin_content">
  <div id="main_content_wrapper">
     <div id="main_content">
        <%= render 'layouts/myssp_group_data' %>
        <%= form_for(@screen_info[:payment]) do |r| %>
           <%= render 'shared/error_messages_payment' %>
           <div class="panel">
              <div class="panel_contents">
                 <div class="attributes_table liaison" id="attributes_table_liaison_3">
                    <% if current_admin_user.admin?  %>
                    <table border="0" cellspacing="0" cellpadding="0" >
                        <h3>Enter the payment details below.</h3>
                        <tr>
                           <td><%= r.label "Select payment date" %></td>
                           <td><%= r.date_select(:payment_date, :default => Date.today) %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Select payment type" %></td>
                           <td><%= r.select(:payment_method, options_for_select(@screen_info[:payment_types])) %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Payment Notes" %></td>
                           <td><%= r.text_field :payment_notes %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Amount Received (please omit dollar sign)" %></td>
                           <td><%= r.number_field :payment_amount, :as => :number %></td>
                        </tr>
                        <input type = "hidden" name="payment[scheduled_group_id]" value= <%= @screen_info[:scheduled_group].id %> />
                    </table>
                    <div class="actions">
                        <%= r.submit "Submit" %>
                        <%= submit_tag 'Cancel', :name => 'cancel' %>
                    </div>
                    <% else %>
                        <h3 align="center">Our Payment Gateway Is Coming Soon!</h3>
                        <p align= "center">Sierra Service Project is working to create a credit card payment gateway which will allow you
                        to make payments directly online. However, as of today, you will have to call our office (916-488-6441)
                        to make a credit card payment. We are sorry for the inconvenience and look forward to talking with you.</p>
                   <% end %>
                 </div>
              </div>
           </div>
        <% end %>
     </div>
  </div>
</div>