#active_admin_content
  .index_content
    .index_as_table
      %table.index_table
        %thead
          %tr
            %th
            %th
            %th{:colspan => @inventories.length, :style => "text-align:center;"} Amount Consumed Since Prior Inventory
            %th Total Consumed Amount
            %th Total Consumed Cost
        %thead
          %tr
            %th Food Item
            %th Unit
            - @inventories.each do |inventory|
              %th= inventory.date.strftime("%b %d")
            %th Total Consumed Amount
            %th Total Consumed Cost
        %tbody
          - @items.each do |food_item|
            %tr
              %td= link_to food_item, food_item
              %td= food_item.base_unit
              - @inventories.each do |inventory|
                - inv = inventory.food_inventory_food_items.for_item(food_item).first
                %td= "%.2f" % inv.consumed unless inv.nil?
              - all_inv = food_item.food_inventory_food_items.for_program(@program)
              %td= "%.2f" % (all_inv.map &:consumed).sum
              %td= number_to_currency((all_inv.map &:total_price).sum)

