#active_admin_content
  .index_content
    .index_as_table
      %table.index_table
        %thead
          %tr
            %th{:colspan => 7}
            %th{:colspan => @inventories.length, :style => "text-align:center;"} Amount Consumed Since Prior Inventory
            %th{:colspan => 3}

        %thead
          %tr
            %th Item Name
            %th Total Purchased
            %th Currently In Inventory
            %th Average Cost
            %th In Inventory Cost
            %th Purchase Cost
            %th Unit
            - @inventories.each do |inventory|
              %th= inventory.date.strftime("%b %d")
            %th Total Consumed Amount
            %th Total Consumed Cost
            %th Discrepancy
        %tbody
          - total_inventory_value_at_cost = total_purchased_for_program = total_total_consumed_cost = 0
          - @items.each do |item|
            %tr
              %td= link_to item[:name], item[:item]
              %td= "%.2f" % item[:total_purchased]
              %td= "%.2f %s" % [item[:current_in_inventory], item[:base_unit]]
              %td= number_to_currency(item[:average_cost])
              %td= number_to_currency(item[:value_at_cost])
              -  total_inventory_value_at_cost += item[:value_at_cost]
              %td= number_to_currency(item[:purchased_for_program])
              - total_purchased_for_program += item[:purchased_for_program]
              %td= item[:base_unit]
              - item[:inventories].each do |inventory|
                - if inventory.nil?
                  %td
                -else
                  %td= "%.1f " % inventory
              %td= "%.1f " % item[:all_inventories]
              %td= number_to_currency(item[:all_inventories] * item[:average_cost])
              - total_total_consumed_cost += (item[:all_inventories] * item[:average_cost])
              %td= number_to_currency(item[:purchased_for_program] - item[:value_at_cost] - item[:all_inventories] * item[:average_cost]  )
          %tfoot
            %th{:colspan => 4}
            %th= number_to_currency(total_inventory_value_at_cost)
            %th= number_to_currency(total_purchased_for_program)
            %th{:colspan => @inventories.length + 2}
            %th= number_to_currency(total_total_consumed_cost)
            %th= number_to_currency(total_purchased_for_program - total_inventory_value_at_cost - total_total_consumed_cost)
