#active_admin_content
  .index_content
    .index_as_table
      %table.index_table
        %thead
          %tr
            %th Session
            %th Adults
            %th Youth
            %th Volunteer Days
            %th Total Cost
            %th Cost/ Person/ Day
        %tbody
          - @program.sessions.each do |session|
            %tr
              %td= session.name
              %td= session.scheduled_adults
              %td= session.scheduled_youth
              %td= session.volunteer_days
              %td= number_to_currency(session.total_cost)
              %td= number_to_currency(session.cost_per_day)
