- total_estimated_cost = total_actual_cost = total_projects = total_estimated_days = total_actual_days = 0
- @program.projects.each do |project|
  %tr
    -  total_projects += 1
    %td= link_to project.name, project
    %td= project.project_subtype.name
    %td= project.planned_start
    %td= project.stage
    %td= number_to_currency(project.estimated_cost)
    - total_estimated_cost += project.estimated_cost
    %td= number_to_currency(project.actual_cost)
    - total_actual_cost += project.actual_cost
    %td= number_to_currency(project.estimated_cost - project.actual_cost)
    %td= project.estimated_days
    - total_estimated_days += project.estimated_days
    %td= project.actual_days
    - total_actual_days += project.actual_days
    %td= project.estimated_days - project.actual_days
    %td= number_to_currency(project.estimated_cost / project.estimated_days) if project.estimated_days > 0
    %td= number_to_currency(project.actual_cost / project.actual_days) if project.actual_days > 0


%tfoot
  %tr
    %th Project Count
    %th= total_projects
    %th{:colspan => 2, :style => "text-align:right;"} Program Totals:
    %th= number_to_currency total_estimated_cost
    %th= number_to_currency total_actual_cost
    %th= number_to_currency total_estimated_cost - total_actual_cost
    %th= total_estimated_days
    %th= total_actual_days
    %th= total_estimated_days - total_actual_days
    %th= number_to_currency total_estimated_cost / total_estimated_days
    %th= number_to_currency total_actual_cost / total_actual_days
  %tr
    %th{:style => "text-align:right;"} Total budget:
    %th= number_to_currency BudgetItem.for_program(@program).materials.first.amount
    %th Tracked Materials Purchases
    %th= number_to_currency (ItemPurchase.for_program_tracked(@program).map &:total_price_with_tax).sum
    %th Untracked Materials Purchases
    %th= number_to_currency (ItemPurchase.for_program_untracked(@program).map &:total_price_with_tax).sum
    %th In Stock Tracked Materials
    %th= number_to_currency (Item.materials.tracked.all_for_program(@program).map {|i| i.average_cost(@program, Date.today) * i.construction_onhand(@program)}).sum
    %th Budgeted Cost/Day
    %th= number_to_currency BudgetItem.for_program(@program).materials.first.amount / @program.total_days

