<tr>
  <td><%= link_to project.name, project %></td>
  <td><%= project.project_subtype.compound_name %></td>
  <td><%= project.stage %></td>
  <td><%= number_to_currency(project.estimated_cost) %></td>
  <td><%= number_to_currency(project.actual_cost) %></td>
  <td><%= number_to_currency(project.estimated_cost - project.actual_cost) %></td>
  <td><%= project.estimated_days %></td>
  <td><%= project.actual_days %></td>
  <td><%= project.estimated_days - project.actual_days %></td>
</tr>
