#active_admin_content
  - if @projects.size > 20
    .paginator.append-bottom
      %span.wrapper
        = paginate @projects

  .index_as_table
    %table.index_table
      %thead
        %tr
          -if @program.nil?
            %th= "Program"
          %th Name
          %th Type and Untracked Percentage
          %th Stage
          %th Planned Start Date
          %th Actual Start Date
          %th Est End Date
          %th Planned Cost
          %th Cost to date
          %th Planned volunteer-days
          %th Days to date

      %tbody
        - @projects.each do |project|
          %tr
            -if @program.nil?
              %td= link_to project.program, program_projects_path(project.program)
            %td= link_to project.name, project
            %td= "#{project.project_subtype.name} (#{project.project_subtype.untracked_percentage}% untracked)"
            %td= project.stage
            %td= project.planned_start
            %td= project.actual_start
            %td= project.planned_end
            %td= number_to_currency(project.estimated_cost(project.program))
            %td= number_to_currency(project.actual_cost(project.program))
            %td= project.estimated_days
            %td= project.actual_days

  - if @projects.size > 20
    .paginator.append-bottom
      %span.wrapper
        = paginate @projects

  - unless @program.nil?
    %p
      =link_to "Create New Project", new_program_project_path(@program)
