.tablewrapper
  %table
    %thead
      %tr
        %th Session
        %th Start Date
        %th Attendees
        %th Spent During week
    %tbody
      - @sessions.each do |session|
        %tr
          %td= session.name
          %td= session.period.start_date
          %td= session.scheduled_total
          %td= number_to_currency(session.purchased_during)
    %tfoot
      %tr
        %th
        %th
        %th= (@sessions.map &:scheduled_total).sum
        %th= number_to_currency (@sessions.map &:purchased_during).sum
      %tr
        %th{:colspan => 2}
        %th{:style => "text-align:right;"} Budget Remaining:
        %th= number_to_currency @program.budget_remaining

