#active_admin_content
  -#- if @items
  -#  .paginator.append-bottom
  -#    %span.wrapper
  = paginate @items
  .span-7.properties
    %dl
      -if can? :create, Item
        -if @program
          %dlt= link_to "Create a New Item", new_program_item_path(@program)
        -else
          %dlt= link_to "Create a New Item", new_admin_item_path
  .span-24.prepend-top
    Filter item list:
    = link_to "All", items_path(:item_type => 0)
    = link_to "Food", items_path(:item_type => 1)
    = link_to "Kithen Equip", items_path(:item_type => 2)
    = link_to "Tools", items_path(:item_type => 3)
    = link_to "Bldg Materials - All", items_path(:item_type => 4)
    = link_to "Bldg Materials - Tracked", items_path(:item_type => 41)
    = link_to "Bldg Materials - Untracked", items_path(:item_type => 42)
    = link_to "Fees", items_path(:item_type => 5)
  .table_as_index.prepend-top
    %table.index_table
      %thead
        %tr
          %th Item Name
          %th Program
          %th Category
          %th Base Unit
          %th Taxed?
          %th Untracked?
          %th On Hand

      %tbody
        - if @items.any?
          - @items.alphabetized.each do |item|
            %tr
              %td= link_to item.name, item
              %td= item.program unless item.program.nil?
              %td= item.item_category
              %td= item.base_unit
              %td= item.default_taxed ? "Yes" : "No"
              %td= item.untracked ? "Yes" : "No"
              -if @program && item.materials?
                %td= item.construction_onhand(@program)
              -if @program && item.food?
                %td= item.in_inventory_for(@program)
              -#%td= link_to "View", item
              -#-if can? :edit, item
              -#  %td= link_to "Edit", edit_item_path(item)
-#- if @items.count > 25
-#  .paginator.prepend-top
-#    %span.wrapper
-#      = paginate @items

