
#active_admin_content
  .group-container-clear
    .span-8.properties
      %dl
        %dt Name
        %dd= @item.name
        %dt Description
        %dd= @item.description
        %dt Type
        %dd= @item.item_type.name

    .span-8.properties
      %dl
        %dt Category
        %dd= @item.item_category.name
        %dt Unit
        %dd= @item.base_unit
        %dt Default Taxed
        %dd= @item.default_taxed ? "Yes" : "No"
        %dt Average Price
        %dd
          = "#{number_to_currency(@avg_price)} #{@item.base_unit}" if @avg_price
          = "N/A" unless @avg_price
        %dt Default Cost
        %dd
          = "#{number_to_currency(@item.default_cost)}" unless @avg_price
          = "N/A" if @avg_price
        -if can? :edit, @item
          %dlt= link_to "Edit Item", edit_item_path(@item)

    .span-8.last.properties
      %dl
        - if @program
          %dt= "Total Purchased for #{@program.site.name}"
          %dd #{(@item.item_purchases.for_program(@program).map &:total_base_units).sum} #{@item.base_unit}
        -else
          %dt= "Total Purchased for all programs"
          %dd #{(@item.item_purchases.map &:total_base_units).sum} #{@item.base_unit}


        -if @program
          %dt= @item.food? ? "Total in inventory at #{@program.site.name}" : "Total on hand in #{@program.site.name}"
        -else
          %dt= @item.food? ? "Total in inventory for all sites" : "Total on hand at all sites"
        -if !@item.materials?
          %dd
            -if @program
              = sprintf '%.2f', @item.in_inventory_for(@program)
            -else
              = sprintf '%.2f', @item.in_inventory
            = @item.base_unit
        -else
          %dd
            -if @program
              = sprintf '%.2f', @item.construction_onhand(@program)
            -else
              = sprintf '%.2f', (@item.item_purchases.map &:total_base_units).sum - (@item.material_item_delivereds.map &:quantity).sum
            = @item.base_unit

        -if @item.food?
          -if @program
            %dt= "Total Consumed for #{@program.site.name}"
            %dd= sprintf '%.2f', (@item.food_inventory_food_items.for_program(@program).map &:consumed).sum
          -else
            %dt Total Consumed
            %dd
              = sprintf '%.2f', (@item.food_inventory_food_items.map &:consumed).sum
              = @item.base_unit
        -else
          -if @program
            %dt= "Total Used at #{@program.site.name}"
            %dd
              = sprintf '%.2f', (@item.material_item_delivereds.for_program(@program).map &:quantity).sum
              = @item.base_unit
          -else
            %dt Total Consumed for all sites
            %dd
              = sprintf '%.2f', (@item.material_item_delivereds.map &:quantity).sum
              = @item.base_unit

        -if can? :edit, @item
          %dlt= link_to "Delete Item", item_path(@item.id), :method => :delete, :confirm => "Are you sure you want to delete this item? This action cannot be undone."

  -if @program
    = render 'purchases', :items => @item.item_purchases.for_program(@program)
  -else
    = render 'purchases', :items => @item.item_purchases


  -if @item.food?
    .span-24.prepend-top
      %h3 Inventories
      .index_as_table
        %table.index_table
          %thead
            %tr
              %th Program
              %th Date
              %th Consumed
              %th Total Price
          %tbody
            -if @program
              - @item.food_inventory_food_items.for_program(@program).each do |inventory|
                %tr
                  %td= inventory.food_inventory.program
                  %td= inventory.food_inventory.date
                  %td #{sprintf '%.2f', inventory.consumed} #{@item.base_unit}
                  %td= number_to_currency(inventory.total_consumed_cost)
            -else
              - @item.food_inventory_food_items.each do |inventory|
                %tr
                  %td= inventory.food_inventory.program
                  %td= inventory.food_inventory.date
                  %td #{sprintf '%.2f', inventory.consumed} #{@item.base_unit}
                  %td= number_to_currency(inventory.total_consumed_cost)
          -if @program
            - unless @item.food_inventory_food_items.for_program(@program).any?
              %tr
                %td{:colspan => 4, :style => 'text-align: center;'} No Inventories
          -else
            - unless @item.food_inventory_food_items.any?
              %tr
                %td{:colspan => 4, :style => 'text-align: center;'} No Inventories

  -if @item.materials?
    .span-24.last.prepend-top
      .group-header
        %h3 Actual Deliveries
      -if @program
        = render 'material_item_delivereds/table', :material_item_delivereds => MaterialItemDelivered.for_item_program(@item.id, @program.id), :from => "item_show"
      -else
        = render 'material_item_delivereds/table', :material_item_delivereds => MaterialItemDelivered.find_all_by_item_id(@item.id), :from => "item_show"