<%= form_for resource, :as => resource_name, :url => update_admin_user_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f| %>
                    <div id="active_admin_content"  class="without_sidebar">
                      <div id="main_content_wrapper">
                         <div id="main_content">
                            <div class="panel">
                              <%= devise_error_messages! %>
                              <h3>Account Activation<% if resource.name %> for <%= resource.name %><% end %></h3>
                    <% if @requires_password %>
                        <div>
                          <%= f.label :password,'Choose a Password' %><br>
                          <%= f.password_field :password %>
                        </div>
                        <div>
                          <%= f.label :password_confirmation,'Password Confirmation' %><br>
                          <%= f.password_field :password_confirmation %>
                        </div>
                    <% end %>
                    <%= hidden_field_tag :confirmation_token,@confirmation_token %>
                    <div>
                      <%= f.submit "Activate" %>
                    </div>
                              <div>
                                <%= render :partial => "devise/shared/links" %>
                    </div>
                <% end %>

                </div>
              </div>
           </div>
           </div>
