<%= form_for(@roster_item) do |r| %>
    <div id="active_admin_content">
      <div id="main_content_wrapper">
         <div id="group_content">
             <div class="panel">
                            <h3>Enter Participant Information</h3>
                            <div class="panel_contents">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><%= r.label "Youth or Counselor?" %></td>
                                  <td><%= r.select :youth, [["Youth", true], ["Counselor", false]] %></td>
                                </tr>
                                <tr>
                                    <td><%= r.label "Gender" %></td>
                                    <td><%= r.select :male, [["Female", false], ["Male", true]] %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "First Name" %></td>
                                  <td><%= r.text_field :first_name %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Last Name" %></td>
                                  <td><%= r.text_field :last_name %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Address 1" %></td>
                                  <td><%= r.text_field :address1 %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "City" %></td>
                                  <td><%= r.text_field :city %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "State" %></td>
                                  <td><%= r.text_field :state, :maxlength => 2 %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Zip" %></td>
                                  <td><%= r.text_field :zip %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Email" %></td>
                                  <td><%= r.text_field :email %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Grade in Fall" %></td>
                                  <td><%= r.select :grade_in_fall, options_for_select(@grade_list) %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Shirt Size" %></td>
                                  <td><%= r.select :shirt_size, options_for_select(@size_list) %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Special Needs" %></td>
                                  <td><%= r.select :special_need,
                                                   options_for_select(SpecialNeed.all.sort_by{|s| s.list_priority}.map{|s| s.name}) %></td>
                                </tr>
                                <% if signed_in? && current_admin_user.admin? %>
                                  <tr>
                                    <td><%= r.label "Disclosure Status" %></td>
                                    <td><%= r.select :disclosure_status, options_for_select(@disclosure_status_list) %></td>
                                  </tr>
                                <tr>
                                  <td><%= r.label "Covenant Status" %></td>
                                  <td><%= r.select :covenant_status, options_for_select(@covenant_status_list) %></td>
                                </tr>
                                <tr>
                                  <td><%= r.label "Background Check Status" %></td>
                                  <td><%= r.select :background_status, options_for_select(@background_status_list) %></td>
                                </tr>
                                <% end %>
                        <input type = "hidden" name="roster_item[roster_id]" value= <%= @roster_item.roster_id %> />
                        <input type = "hidden" name="roster_item[group_id]" value= <%= @roster_item.group_id %> />
                      </table>
                            <div class="actions">
                                <%= r.submit "Submit" %>
                                <%= submit_tag 'Cancel', :name => 'cancel' %>
                             </div>
                </div>
              </div>
                </div>
              </div>
              </div>

        <% end %>


