!!!
%html
  %head
    %title SSP | #{@title}
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'jqueryui/jquery-ui-1.8.11.custom.css'
    = stylesheet_link_tag :all
    = csrf_meta_tag

  %body.logged_in
    = render 'layouts/header'
    #title_bar
      #titlebar_left
        #logo
          = link_to image_tag('logo.png', :alt => "Sierra Service Project", :width => 75, :height => 75), "http://www.sierraserviceproject.org", :title => "Go to SSP Website"
        .breadcrumb
          %a{:href => '/'} Home
          .breadcrumb_sep |
        %h2
          SSP Food and Construction Cost Tracking Application
    .container
      - short_nav = (render_navigation :level => 2, :renderer => :text)
      - skip_second_nav = short_nav.nil? || short_nav.empty?
      #main-nav.span-24.last.nav-bar{:class => skip_second_nav ? "non-admin" : ""}
        = render_navigation :level => 1

      - unless skip_second_nav
        #page-info.span-24.last
          #site-nav= render_navigation :level => 2
      .span-16.prepend-top
        %h2= @title
      #action-links.span-8.last.prepend-top
        = render_navigation :context => :actions, :renderer => :links


      #content.span-24.last

        .span-24.last= yield

      #footer.span-24.last

      = javascript_include_tag 'jquery/jquery-1.5.1.min'
      = javascript_include_tag 'jquery/jquery-ui-1.8.11.custom.min.js'
      = javascript_include_tag 'jquery/jquery-ui-widgets.js'
      = javascript_include_tag :all
      = yield :javascript
