    <div id= "header">
    <h1 id="site_title"><a href="/">Sierra Service Project Manager</a></h1>
    <ul class="tabbed_navigation" id="tabs">
        <li><%= link_to "Home", root_path, %></li>
        <% if signed_in? %>
            <li><%= link_to "Group Manager", registrations_path %></li>
            <li><%= link_to "Admin Center", admin_path %></li>
            <li><%= link_to "Food/Tabatha", food_path %></li>
            <li><%= link_to "Construction", construction_path %></li>
        <% end %>
        <li><%= link_to "Help" %></li>
        <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, :method => :delete  %></li>
        <% else %>
            <li><%= link_to "Sign in", new_admin_user_session_path %></li>
        <% end %>
    </ul>
    </div>

