<div id= "header">
    <ul class="header_item" id="tabs">
        <% if signed_in? && current_admin_user.admin? %>
             <h1 id="site_title">Sierra Service Project Manager</h1>
             <li><%= link_to "Home", root_path, %></li>
             <li class="has_nested" ><a href="#">Group Manager</a>
                <ul>
                  <li><%= link_to "Register a group", registration_register_path%></li>
                  <li><%= link_to "Schedule a group", admin_registrations_path%></li>
                  <li><%= link_to "Invoice report", invoice_report_path%></li>
                  <li><%= link_to "Show the schedule - scheduled summer domestic",
                          registration_show_schedule_path(:reg_or_sched => 'scheduled', :type => 'summer_domestic')%></li>
                  <li><%= link_to "Show the schedule - unscheduled summer domestic",
                          registration_show_schedule_path(:reg_or_sched => 'registered', :type => 'summer_domestic')%></li>
                  <li><%= link_to "Reset user password",
                          new_admin_user_password_path %></li>
                </ul>
             </li>
             <li class="has_nested" ><a href="#">Reports</a>
                <ul>
                  <li><%= link_to "Invoice report", invoice_report_path%></li>
                  <li><%= link_to "Scheduled Liaisons: Web page", scheduled_liaisons_html_path(:format => :html)%></li>
                  <li><%= link_to "Scheduled Liaisons: CSV", scheduled_liaisons_csv_path(:format => :csv)%></li>
                  <li><%= link_to "All Churches and Liaisons: CSV", church_and_liaison_csv_path(:format => :csv)%></li>
                  <li><%= link_to "Show the schedule - scheduled summer domestic",
                          registration_show_schedule_path(:reg_or_sched => 'scheduled', :type => 'summer_domestic')%></li>
                  <li><%= link_to "Show the schedule - unscheduled summer domestic",
                          registration_show_schedule_path(:reg_or_sched => 'registered', :type => 'summer_domestic')%></li>
                </ul>
            </li>
            <li class="has_nested" ><a href="#">Budgets</a>
                <ul>
                  <li><%= link_to "Budget Summary Reports", budget_show_path(:type =>'summer_domestic') %></li>
                  <li><%= link_to "Add, Update or Delete Line Items", admin_budget_items_path%></li>
                  <li><%= link_to "Maintain Line Item Types", admin_budget_item_types_path%></li>
                </ul>
            </li>
            <li class="has_nested" ><a href='#'>Admin Center</a>
               <ul>
                  <li><%= link_to "Churches", admin_churches_path %></li>
                  <li><%= link_to "Liaisons", admin_liaisons_path %></li>
                  <li><%= link_to "Admin Center", admin_path %></li>
               </ul>
            </li>
            <li class="has_nested" ><a href='#'>SiteManager</a>
               <ul>
                 <li><%= link_to "All Sites", ops_pages_show_path  %></li>
                 <li><%= link_to "Vendors", vendors_path %></li>
                 <li><%= link_to "Items", items_path %></li>
                 <li><%= link_to "Purchases", purchases_path %></li>
                 <li><%= link_to "Reports", staff_reports_path %></li>
                 <li><%= link_to "Projects", projects_path %></li>
                 <li><%= link_to "Food Inventories", food_inventories_path %></li>
               </ul>
            </li>
      <% end %>
        <% if signed_in? && current_admin_user.field_staff? %>
                <li class="has_nested" ><a href='#'>SiteManager</a>
                  <ul>
                    <!--These are single site users-->
                      <li><%= link_to "Vendors", site_vendors_path(current_admin_user.program_user.program.site) %></li>
                      <li><%= link_to "Items", program_items_path(current_admin_user.program_user.program) %></li>
                      <li><%= link_to "Purchases", program_purchases_path(current_admin_user.program_user.program) %></li>
                      <li><%= link_to "Reports", staff_reports_path %></li>
                      <li><%= link_to "Projects", program_projects_path(current_admin_user.program_user.program) %></li>
                      <li><%= link_to "Food Inventories", program_food_inventories_path(current_admin_user.program_user.program) %></li>
                  </ul>
                </li>
        <% end %>


        <% if signed_in? && current_admin_user.liaison? %>
            <li><%= link_to "MySSP", myssp_path(current_admin_user.liaison_id) %></li>
        <% end %>
      <li><%= link_to "Help", help_path %></li>
    </ul>
    <p class="header-item" id="utility_nav"><span class="current_user">
    <% if signed_in? %><%= current_admin_user.name %></span>
        <%= link_to "Sign out", destroy_admin_user_session_path, :method => :delete  %>
    <% else %>
        <%= link_to "Sign in", new_admin_user_session_path%></p>
    <% end %>

</div>

