<%= render 'layouts/myssp_header' %>
<div id="active_admin_content">
  <div id="main_content_wrapper">
     <div id="main_content">
        <%= render 'layouts/myssp_group_data' %>
        <%= form_for(@screen_info[:adjustment]) do |r| %>
           <%= render 'shared/error_messages_adjustment' %>
           <div class="panel">
              <div class="panel_contents">
                 <div class="attributes_table liaison" id="attributes_table_liaison_3">

                    <table border="0" cellspacing="0" cellpadding="0" >
                        <h3>Enter the adjustment details below.</h3>
                        <tr>
                           <td><%= r.label "Select adjustment code" %></td>
                           <td><%= r.select(:reason_code, options_for_select(@screen_info[:adjustment_codes])) %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Adjustment Notes" %></td>
                           <td><%= r.text_field :note %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Amount of Adjustment (please omit dollar sign and enter as positive number)" %></td>
                           <td><%= r.number_field :amount, :as => :number %></td>
                        </tr>
                        <input type = "hidden" name="adjustment[group_id]" value= <%= @screen_info[:scheduled_group].id %> />
                    </table>
                    <div class="actions">
                        <%= r.submit "Submit" %>
                        <%= submit_tag 'Cancel', :name => 'cancel' %>
                    </div>
                 </div>
              </div>
           </div>
        <% end %>
     </div>
  </div>
</div>